* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	/* background-color: lightgray; */
	background-image: url(../images/bg.jpeg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

#user_info {
	font-size: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	/* border: 4px pink solid; */
}

#user {
	display: block;
	margin: 25px;
	margin-right: 40px;
	/* border: 4px red solid; */
}

#user_info ul {
	font-family: 'Caveat', cursive;
	display: block;
	list-style: none;
	margin: 20px;
	/* border: 4px green solid; */
}

#user_info li {
	display: inline;
	border-bottom: 1.5px black solid;
	margin: 30px;
}

#map_container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 25px;
}

#map {
	width: 80vw;
	height: 80vh;
	/* Uses viewport (vw & vh) units: https://css-tricks.com/fun-viewport-units */
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.5) 0 5px 10px;
}

.popup {
	width: 330px;
	background: #fff;
	border-radius: 5px;
	border-style: solid;
	position: absolute;
	z-index: 999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 20px;
	color: #333;
	visibility: hidden;
}

.select {
	margin: 10px;
}

.open-popup {
	visibility: visible;
}

.popup-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}