* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	/* background-color: lightgray; */
	background-image: url(../images/bg.jpeg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

#user_info {
	font-size: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	/* border: 4px pink solid; */
}

#user {
	display: block;
	margin: 25px;
	margin-right: 40px;
	/* border: 4px red solid; */
}

#user_info ul {
	font-family: 'Caveat', cursive;
	display: block;
	list-style: none;
	margin: 20px;
	/* border: 4px green solid; */
}

#user_info li {
	display: inline;
	border-bottom: 1.5px black solid;
	margin: 30px;
}

#map_container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 25px;
}

#map {
	width: 90vw;
	height: 90vh;
	/* Uses viewport (vw & vh) units: https://css-tricks.com/fun-viewport-units */
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.5) 0 5px 10px;
}

.popup {
	width: 25rem;
	height: 29rem;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
	border: solid 3px rgb(19, 163, 6);
	position: absolute;
	z-index: 999;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 20px;
	color: #333;
	visibility: hidden;
}

.select {
	margin: 10px;
}

.open-popup {
	visibility: visible;
}

.popup-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.changeBtn {
	background-color: rgb(19, 163, 6);
	border: none;
	color: white;
	font-weight: bold;
	padding: 10px 16px;
	text-align: center;
	display: inline-block;
	font-size: 18px;
	border-radius: 5px;
}

.changeBtn:hover {
	background-color: white;
	border: solid 1px rgb(19, 163, 6);
	color: rgb(19, 163, 6);
	cursor: pointer;
}

.lab {
	font-weight: bold;
	display: block;
}

#waste_get,
#waste_go {
	display: block;
	/* align-content: center; */
	margin: auto;
}

.close-button {
	border: none;
	font-size: 1.5rem;
	color: black;
	background-color: rgba(0, 0, 0, 0);
	font-weight: bold;
}

.close-button:hover {
	color: red;
	font-size: 2rem;
	cursor: pointer;
}